
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Nueva Cotizacion</title>
</head>
<body>
        <header>
            <h1>
                Registra una nueva cotización
            </h1>
        </header>

        <a th:href="@{/}">Regresar</a>
        
        <br>
        <br>

        <div class="formulario" style="width: fit-content;">
        
        <form th:action="@{/guardar}" method="post" th:object = "${cotizacionModel}">

            

                    <input  type="hidden" name="id" th:field = "*{id}">
                    <input class="form-control" type="text" name="modelo" th:field = "*{modelo}" placeholder="modelo" required>
            
                    <br>
                    <input class="form-control" type="text" name="version" th:field = "*{version}" placeholder="version" required>
                    <br>
                    <input class="form-control" type="date" name="fecha" th:field = "*{fecha}" placeholder="fecha" required>

            <br>
            <input class="form-control" type="number" name="costoDesglosado" th:field = "*{costoDesglosado}" placeholder="Costo Desglosado" required>
            <br>

            <input class="form-control" type="number" name="costoTotal" th:field = "*{costoTotal}" placeholder="Costo Total" required>
            <br>
            <br>
            <input  class="form-control" type="number" name="montoEnganche" th:field = "*{montoEnganche}" placeholder="Monto Enganche" required>
            <br>

            <input type="submit" name="guardar" value="Guardar datos y obtener cotizacion">
        
        </form>
    </div>


</body>
</html>